{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Laboratorios SAC - Inicio de Sesión</title>
</head>
<body>
    <div class="background"></div>
    <div class="login-container">   
        <div class="logo">  
            <img src="{% static '/img/logo-sac.png' %}"  alt="Laboratorios SAC Logo">
        </div>
        <h2>¡Bienvenido/a!</h2>
        <p>Inicie sesión para continuar</p>
        <form method="post">
            {% csrf_token %}
            {{form_login.as_div}}
            <div class="remember-forgot">
                <label>
                    <input type="checkbox" name="remember"> Mantener Sesión
                </label>
                <a href="#" class="forgot-link">Olvidé mi CAP</a>
            </div>
            
            <button type="submit" class="submit-btn">Iniciar Sesión</button>
        </form>
        <div class="register-link">
            <span>¿No tienes una cuenta? </span>
            <a href="#">Ingresa aquí</a>
        </div>
    </div>
</body>
</html>